# FrameItUp — pnpm configuration
# Optimisations réseau
fetch-timeout=300000
fetch-retry-maxtimeout=300000
fetch-retries=5
network-concurrency=4

# Workspace
shared-workspace-lockfile=true
link-workspace-packages=true

# Hoisting — nécessaire pour Next.js dans monorepo
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@next*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*autoprefixer*
shamefully-hoist=false

